.past-papers {
  position: relative;
  margin-top: 74px;

  .past-papers__content {
    padding-top: clamp(50px, 7vw, 100px);
    padding-bottom: clamp(50px, 7vw, 150px);
    position: relative;

    .shape-blob.one {
      background-color: #ffab9e;
      height: 50dvh;
      max-height: 600px;
      width: 15vw;
      min-width: 80px;
      max-width: 350px;
      left: 0;
      top: 40%;
      transform: rotate(-180deg);
      animation: transform 4s ease-in-out infinite both alternate,
        movement_one 10s ease-in-out infinite both;
    }

    .shape-blob.two {
      background-color: #54be96;
      height: 60dvh;
      max-height: 650px;
      width: 15vw;
      min-width: 80px;
      max-width: 350px;
      right: 0;
      top: 0%;
      transform: rotate(-180deg);
      animation: transform 4s ease-in-out infinite both alternate,
        movement_two 8s ease-in-out infinite both;
    }

    .past-papers__container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      container-type: inline-size;
      max-width: 1600px;
      margin-inline: auto;
      padding-inline: 25px;
      width: 90%;
      @media (max-width: 991px) {
        width: 100%;
      }

      .past-papers__header {
        display: flex;
        flex-direction: column;
        gap: clamp(16px, 1.5vw, 22px);
        max-width: 890px;
        margin: 0 auto;
        text-align: center;

        .past-papers__header-heading {
          display: flex;
          gap: clamp(8px, 1.5vw, 18px);
          justify-content: center;
          align-items: center;

          img {
            width: clamp(25px, 3.5vw, 45px);
          }

          .past-papers__header-title {
            color: #ffcc20;
            font-size: clamp(20px, 3.5vw, 36px);
            font-weight: 700;
            line-height: 1.27;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            text-align: start;

            &.accounting {
              color: #37b7a0;
            }

            &.biology {
              color: #30bb6d;
            }

            &.chemistry {
              color: #3887c9;
            }

            &.economics {
              color: #4a81b2;
            }

            &.mathematics {
              color: #e8b50c;
            }

            &.extended-mathematics {
              color: #55d6c0;
            }

            &.physics {
              color: #fb8573;
            }
          }
        }
      }

      // .past-papers__description {
      //   color: #000;
      //   font-size: clamp(14px, 1.5vw, 16px);
      //   font-weight: 300;
      //   max-width: 890px;
      //   margin: 0 auto;
      //   text-align: center;
      // }

      .past-papers__paper-section {
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.03);
        padding: clamp(25px, 4.5vw, 85px) clamp(16px, 3.5vw, 50px);
        display: flex;
        gap: clamp(30px, 5.5vw, 115px);

        @media screen and (max-width: 1200px) {
          background: transparent;
          box-shadow: none;
          padding: 0;
        }

        .past-papers__filter {
          min-width: fit-content;
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding-right: clamp(20px, 4.5vw, 75px);
          border-right: 1px solid rgba(0, 0, 0, 0.4);

          @media screen and (max-width: 1200px) {
            display: none;
          }

          .past-papers__filter-title {
            color: rgba(0, 0, 0, 0.7);
            font-size: clamp(18px, 1.5vw, 24px);
            font-weight: 500;
            line-height: 1.57;
            letter-spacing: -0.75px;
          }

          .past-papers__filter-years {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .past-papers__filter-year {
              .past-papers__filter-year-header {
                display: flex;
                align-items: center;
                gap: 8px;
                color: rgba(0, 0, 0, 0.7);
                font-size: clamp(16px, 1.5vw, 20px);
                font-weight: 300;
                letter-spacing: -0.75px;
                cursor: pointer;
                padding-left: clamp(15px, 2.5vw, 25px);

                .past-papers__filter-arrow {
                  max-width: 18px;
                  transition: transform 0.3s ease;

                  &.rotated {
                    transform: rotate(90deg);
                  }
                }
              }

              .past-papers__filter-sessions {
                padding-left: 50px;
                font-size: clamp(16px, 1.5vw, 20px);
                font-weight: 300;
                line-height: 1.69;
                letter-spacing: -0.75px;

                .past-papers__filter-session {
                  cursor: pointer;
                  color: rgba(0, 0, 0, 0.7);

                  &.active {
                    color: #54bd95;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }

        .past-papers__file-options {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: clamp(25px, 2.5vw, 50px);

          .past-papers__mobile-filter {
            display: none;

            @media (max-width: 1200px) {
              display: flex;
              gap: clamp(12px, 1.2vw, 16px);
            }
          }

          .past-papers__dropdown-wrapper {
            position: relative;

            .past-papers__mobile-dropdown {
              width: 100%;
              background: white;
              font-size: clamp(14px, 1.5vw, 16px);
              font-family: inherit;
              font-weight: 500;
              color: #7b7b7b;
              // appearance: none;
              // -webkit-appearance: none;
              // -moz-appearance: none;
              // background: transparent;
              // background-image: url("/svgs/right-arrow.svg");
              // background-repeat: no-repeat;
              // background-position-x: calc(100% - 10px);
              // background-position-y: 50%;
              border: 1px solid #00000033;
              border-radius: 24px;
              padding: clamp(5px, 1.3vw, 10px) clamp(14px, 1.5vw, 20px);
              outline: none;
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                background: #f5f5f5;
              }
            }
          }

          .past-papers__file-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: clamp(8px, 1.2vw, 18px);

            .past-papers__file-button {
              border-radius: 20px;
              background: #54bd95;
              padding: 8px clamp(10px, 1.3vw, 18px);
              box-shadow: 0px 0px 5px 0px rgba(112, 112, 112, 0.1);
              color: #f5f5f5;
              font-size: clamp(12px, 1.5vw, 16px);
              font-weight: 500;
              line-height: 1.5;
              transition: all 0.3s ease;

              &.active {
                background: #0a734b;
              }

              &:hover {
                background: #0a734b;
              }
            }
          }

          .past-papers__file-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .past-papers__no-results {
              text-align: center;
              font-size: clamp(16px, 1.5vw, 18px);
              color: #606060;
            }

            .message {
              text-align: center;
              color: #606060;
            }

            .past-papers__file-item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 24px;
              border-radius: 14.56px;
              border: 1px solid rgba(0, 0, 0, 0.25);
              background: #fff;
              padding: 12px clamp(14px, 1.5vw, 18px);

              .past-papers__file-info {
                display: flex;
                align-items: center;
                gap: clamp(12px, 1.5vw, 18px);

                .past-papers__file-name {
                  color: #2c7cbe;
                  font-size: clamp(15px, 2vw, 22px);
                  font-weight: 300;
                  line-height: 1.4;
                  letter-spacing: -0.75px;
                  cursor: pointer;
                }
              }

              .past-papers__file-actions {
                display: flex;
                align-items: center;
                gap: clamp(10px, 1.5vw, 18px);

                .past-papers__file-action {
                  border-radius: 20px;
                  background: #95d1dd;
                  box-shadow: 0px 0px 5px 0px rgba(112, 112, 112, 0.1);
                  display: flex;
                  justify-content: center;
                  gap: clamp(6px, 1vw, 12px);
                  min-width: 145px;
                  padding: 12px clamp(10px, 1.3vw, 20px);
                  color: #fff;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 1.4;
                  transition: all 0.3s ease;

                  @media screen and (max-width: 1200px) {
                    padding: 0;
                    min-width: unset;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                      display: none;
                    }
                  }

                  &:hover {
                    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
                  }

                  svg {
                    font-size: 20px;
                  }

                  &.download {
                    background: #95d1dd;
                  }

                  &.view {
                    background: #ffcc20;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .gradient__container {
    position: relative;

    .shape-blob.one {
      background-color: #ffab9e;
      height: 50dvh;
      width: 15vw;
      min-width: 150px;
      left: 0;
      top: 40%;
      transform: rotate(-180deg);
      animation: transform 4s ease-in-out infinite both alternate,
        movement_one 10s ease-in-out infinite both;
    }

    .shape-blob.two {
      background-color: #ffcc20;
      height: 60dvh;
      width: 15vw;
      min-width: 150px;
      right: 0;
      top: 20%;
      transform: rotate(-180deg);
      animation: transform 4s ease-in-out infinite both alternate,
        movement_two 8s ease-in-out infinite both;
    }
  }
}

.live-support__container {
  margin-bottom: clamp(20px, 2vw, 28px);

  &.add-margin-top {
    margin-top: clamp(40px, 4.5vw, 80px);
  }

  .image-banner {
    &:hover {
      transform: translateY(-5px);
    }
  }
}
