// Variables

$blue: #36a0ef;
$white: #ffffff;
$green: #54bd95;
$dark-gray: #4f4e4e;
$light-gray: #645e5e;
$primary: #15414e;

:root {
  --font-regular: "Manrope", sans-serif;

  --color-regular: #848788;
  --color-primary: #15414e;
  --color-highlight: #54bd95;
  --color-white: #fff;
  --color-green: #5fb3a2;
  --color-light-green: #def7f2;
  --color-red: #eb6d47;
  --color-light-red: #ffdcca;
}
