#header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;

  .container {
    background: #fff;
    height: 74px;
    align-content: center;
  }

  &.fixed-header {
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.05);

    @media screen and (min-width: 1200px) {
      .header-buttons {
        display: flex;
        position: absolute;
        right: 30px;
        top: 10px;
        margin-top: 0;
      }
    }

    .nav-overlay {
      top: 70px;
    }

    .nav-wrapper {
      &.active-sidebar {
        height: calc(100% - 74px) !important;
      }
    }
  }

  .mobile-logo-wrapper {
    .logo {
      display: block;
      width: 160px;

      img {
        width: 100%;
      }
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  .container {
    width: 100%;
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo-wrapper {
        z-index: 16;
        a {
          img {
            width: 200px;
          }
        }
      }
      .nav-bar {
        width: 100%;
        margin: 0 auto;
      }
      .nav-wrapper {
        .nav-wrapper-inner {
          .menu-menu-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .menu {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 45px;

              @media screen and (max-width: 1200px) {
                min-width: auto;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 0;
              }

              li {
                position: relative;
                white-space: nowrap;
                min-width: 58px;
                height: 74px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;

                @media screen and (max-width: 1200px) {
                  height: unset;
                }

                .nav-link {
                  display: flex;
                  align-items: center;
                  font-weight: 350;
                  font-size: clamp(16px, 1.8vw, 18px);
                  color: #a6a6a6;
                  transition: color 0.25s linear;

                  svg {
                    font-size: 20px;
                    position: relative;
                    top: 1px;
                    transition: all 0.25s linear;

                    &.rotate {
                      transform: rotate(90deg);
                    }
                  }

                  &.active {
                    font-weight: 500;
                    color: #54bd95;
                  }

                  &:hover {
                    color: #54bd95;
                  }

                  @media screen and (max-width: 1200px) {
                    color: white;

                    &.active {
                      color: black;
                    }

                    &:hover {
                      color: black;
                    }
                  }
                }
                &:not(:last-of-type) {
                  margin-right: 0;
                }

                .sub-menu {
                  position: absolute;
                  top: 60px;
                  left: -15px;
                  background-color: #e6faf2;
                  border-radius: 5px;
                  width: calc(100% + 30px);
                  padding: 12px 20px;
                  display: none;
                  opacity: 0;
                  transform: translateY(-5px);
                  pointer-events: none;
                  transition: all 0.25s linear allow-discrete;

                  &.open {
                    display: block;
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(0);
                  }

                  @starting-style {
                    &.open {
                      opacity: 0;
                      transform: translateY(-5px);
                    }
                  }

                  .sub-menu-list {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    li {
                      color: #666161;
                      font-size: 18px;
                      font-weight: 300;
                      cursor: pointer;
                      transition: color 0.25s linear;
                      height: unset;

                      &:hover {
                        color: #59bf98;
                      }

                      &.active {
                        color: #59bf98;
                        font-weight: 600;
                      }
                    }
                  }

                  @media screen and (max-width: 1200px) {
                    position: relative;
                    inset: 0;
                    background-color: transparent;
                    border-radius: none;
                    width: 100%;
                    padding-bottom: 0;

                    .sub-menu-list {
                      display: flex;
                      flex-direction: column;
                      gap: 10px;

                      li {
                        color: white;
                        font-size: clamp(16px, 1.8vw, 18px);
                        font-weight: 300;

                        &:hover {
                          color: unset;
                        }

                        &.active {
                          color: black;
                          font-weight: 600;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          div {
            &:not(:last-of-type) {
              margin-right: 0;
            }
          }
        }
        &.active-sidebar {
          position: fixed;
          z-index: 10;
          bottom: 0;
          left: -300px;
          width: 100%;
          max-width: 300px;

          transition-property: transform;
          transition-duration: 0.25s;
          transition-timing-function: linear;
          .nav-wrapper-inner {
            align-items: flex-start;
            justify-content: initial;
            flex-direction: column;
            background: #59bf98;
            background-size: cover;
            height: calc(100dvh - 74px);
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 30px;

            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
              display: none;
            }

            .menu {
              flex-wrap: wrap;
              gap: 20px;
              li {
                width: 100%;
                a {
                  display: block;
                  color: white;
                  &.active {
                    font-weight: 600;
                    color: black;
                  }
                  &:hover {
                    color: black;
                  }
                }
                &:not(:last-of-type) {
                  margin-right: 0;
                  // margin-bottom: 20px;
                }
              }
            }
            // div {
            //   &:not(:last-of-type) {
            //     margin-bottom: 20px;
            //   }
            // }
            .social-widgets {
              width: 100%;
              ul {
                margin-left: -15px;
                margin-bottom: -10px;
                li {
                  a {
                    .image-container {
                      img {
                        filter: contrast(0) brightness(100);
                      }
                    }
                  }
                }
              }
            }
          }
          &.open {
            transform: translateX(300px);
          }
        }
      }
      .nav-overlay {
        width: 100%;
        height: calc(100dvh - 74px);
        z-index: 1;
        position: fixed;
        top: 74px;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.5);

        transition-property: transform;
        transition-duration: 0.25s;
        transition-timing-function: linear;
        &.open {
          transform: translateX(-100%);
        }
      }
      .mobile-toggle {
        z-index: 5;
        display: none;
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 1399px) {
    .container {
      .nav-container {
        .nav-wrapper {
          .nav-wrapper-inner {
            .menu {
              li {
                &:not(:last-of-type) {
                  margin-right: 0;
                }
              }
            }
            div {
              &:not(:last-of-type) {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .container {
      .nav-container {
        .nav-wrapper {
          .nav-wrapper-inner {
            .menu {
              li {
                &:not(:last-of-type) {
                  margin-right: 0;
                }
              }
            }
            div {
              &:not(:last-of-type) {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    position: absolute;
    top: 0;
    background-color: transparent;

    .container {
      .nav-container {
        .logo-wrapper {
          left: 30px;
          transform: none;
          display: none;
          a {
            img {
              width: 80px;
            }
          }
        }
        .nav-wrapper {
          display: none;
          &.active-sidebar {
            display: block;
          }
          .nav-wrapper-inner {
            div {
              &:not(:last-of-type) {
                margin-right: 0;
                // margin-bottom: 30px;
              }
            }
          }
        }
        .mobile-toggle {
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: 450px) {
    .container {
      .nav-container {
        .logo-wrapper {
          left: 25px;
        }
        .nav-wrapper {
          &.active-sidebar {
            .nav-wrapper-inner {
              padding: 30px;
            }
          }
        }
      }
    }
  }
}

.menu-toggle {
  width: 30px;
  cursor: pointer;
  * {
    transition-property: opacity, transform, width;
    transition-duration: 0.25s;
    transition-timing-function: linear;
  }
  .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    &:nth-child(2) {
      margin: 5px 0;
    }
  }
  &.change {
    width: 25px;
    .bar {
      height: 2px;
      &:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg) translate(-4px, -5px);
      }
    }
  }
}
